/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background: linear-gradient(5deg,#6A7B76,#A4BAB7 100%) fixed;
 }

 .cant-see-me  {
   display: none;
 }
 .navbar-inverse .navbar-nav>li>a  {
   color: #D8DBAB;
 }
.navbar-inverse {
  background-image: linear-gradient(0.1deg,#080F0F,#6A7B76 100%);

}
.navber-inverse .navbar-nav>p {
  color: #D8DBAB;
}

.btn-default {
  background: linear-gradient(to bottom,#EFF2C0,#A5A87F 100%);

}

.container {
    background: rgba(255, 255, 255, 0.7);
  }
/*#080F0F

#A4BAB7

#6A7B76

#EFF2C0

#DBCDC6*/
